<div class="lobby">
    <div class="header">
        <h1>Lobby</h1>
        <h2>#{{this.id}}</h2>
    </div>
    <div class="playerContainer">
        <app-lobbyprofile username="Valaki"></app-lobbyprofile>
        <app-lobbyprofile username="ASdsaffdsfsd"></app-lobbyprofile>
        <app-lobbyprofile username="asdasd"></app-lobbyprofile>
        <app-lobbyprofile username="asdsfgtzhujztghfdsasdsghdjfhgfjgf"></app-lobbyprofile>
        <app-lobbyprofile></app-lobbyprofile>
        <app-lobbyprofile></app-lobbyprofile>
        <app-lobbyprofile></app-lobbyprofile>
        <app-lobbyprofile></app-lobbyprofile>
        <app-lobbyprofile></app-lobbyprofile>
        <app-lobbyprofile></app-lobbyprofile>
        <app-lobbyprofile></app-lobbyprofile>
    </div>
</div>