*
{
    color: #BA621F;
}
main
{
    background-color: #064663;
    text-align: center;
    padding-top: 10px;
}
header
{
    display:flex;
    background-color: #041C32;
    text-align: center;
}
.login
{
    display:flex;
}
main ul
{
    list-style:none;
}
main ul li
{
    display: inline-block;
}
main a
{
    background:#04293A;
    color: #BA621F;
    display: block;
	padding: 15px 40px;
	transition: background 0.3s;
}
main a:hover
{
    background: #041C32;
	color: #8f4e1c;
}

.login-popup
{
    /*display: none;*/
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20px 30px;
    background: #ffff;
    box-shadow: 15px 15px 5px 5px #666;
    border-radius: 10px;
    transition: opacity 200ms ease-in-out 0ms;
}
.login-popup.active
{
    display: block;
    opacity: 1;
    transition: opacity 200ms ease-in-out 0ms;
}

.login-popup .close-btn
{
    position: absolute;
    text-align: center;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: rgb(233, 59, 59);
    border-radius: 15px;
    line-height: 18px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;

}

.login-popup form h2
{
    text-align: center;
    margin: 10px 0px 20px;
}
.login-popup form .form-element
{
    margin: 10px 10px;
}
.login-popup form .form-element label
{
    font-size: 15px;
}
.login-popup form .form-element input[type="text"],
.login-popup form .form-element input[type="password"]
{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.login-popup form .form-element button
{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(239,239,239)
}
.login-popup form .form-element button:hover
{
    background-color: rgb(185, 185, 185)
}
.login-popup form .form-element button:active
{
    background-color: rgb(92, 92, 92)
}

.login-popup form .form-element a
{
    display: block;
    text-align: center;
    font-weight: 100;
}