<header>
    <div  class="container mt-5">
      
      <h1>Vérfarkasok éjszakája</h1>
    </div>
    <div class="Login">
      <ul>
        <li><a routerLink="../register" class="btn btn-outline-primary btn-lg">Register</a></li>
        &nbsp;
        <li><a routerLink="../login" class="btn btn-outline-success btn-lg">Login</a></li>
      </ul>
    </div>
      
    
  </header>
  <main></main>
  
<div routerLink="../menu" class="login-popup active" #loginPanel>
    <div class="close-btn" (click)="closePanel()">&times;</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Bejelentkezés</h2>
        <div class="form-element">
            <label for="username">Felhasználónév</label>
            <input type="text" id="username" formControlName="username">
        </div>
        <div class="form-element">
            <label for="password">Jelszó</label>
            <input type="password" id="password" formControlName="password">
            <!-- jelszóhoz szem ikon -->
            <i class="fas fa-eye" id="togglePassword"></i>
        </div>
        <div class="form-element">
            <button id="loginbtn" type="submit" [disabled]="!loginForm.valid">Bejelentkezés</button>
        </div>
        <div class="form-element">
            <a id="show-signup" href="/register">Nincs még fiókod? Kattints ide!</a>
        </div>
    </form>
</div>

<router-outlet></router-outlet>
