<html>
<header>
    <div class="container mt-5">

        <h1>Vérfarkasok éjszakája</h1>
    </div>
    
    <a routerLink="" class="btn btn-primary btn-lg">Kijelentkezés</a>
</header>
<main>
    <div class="Inside">
        <h2>Üdvözöljük!</h2>
        <div class="Login">
            <ul>
                <li><a routerLink="" class="btn btn-lg">Új szoba</a></li>
                &nbsp;
                <li><a routerLink="" class="btn btn-lg">Csatlakozás</a></li>
            </ul>
        </div>

        <h2>Egyéb</h2>
        <ul>
            <li><a routerLink="" class="btn btn-lg">Profil</a></li>
            <li><a routerLink="" class="btn btn-lg">Kijelentkezés</a></li>
        </ul>
    </div>
</main>

</html>