*
{
    color: #BA621F;
    padding:0;
}
main
{
    background-color: #064663;
    text-align: center;
    padding-top: 10px;
}
header
{
    display:flex;
    background-color: #041C32;
    text-align: center;
}
main ul
{
    list-style:none;
    /*display: table;*/
}
main ul li
{
    display: block;
    width:30%;
    /*display:flex;*/
    margin: 0 auto;
}
main a
{
    
    background:#04293A;
    color: #BA621F;
    display: block;
	padding: 15px 40px;
	transition: background 0.3s;
}
main a:hover
{
    background: #041C32;
	color: #8f4e1c;
}
main h2
{
    text-align: center;
}
.Inside
{
    margin:0 auto;
    width: 60%;

}
