<div class="Container">
    <form>
        <div class="col-lg-6 mt-2">
            <input type="text" class="form-control" placeholder="Enter your email">
        </div>
        <div class="col-lg-6 mt-2">
            <input type="text" class="form-control" placeholder="Enter your username">
        </div>
        <div class="col-lg-6 mt-2">
            <input type="text" class="form-control" placeholder="Enter your password">
        </div>
        <div class="col-lg-4 mt-2">
            <button class="btn btn-primary btn-sm">Create</button> 
        </div>
    </form>
</div>