.popup-panel
{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20px 30px;
    background: #ffff;
    box-shadow: 15px 30px 20px 10px rgb(0 0 0 / 30%);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.popup-panel.active
{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.popup-panel .close-btn
{
    position: absolute;
    text-align: center;
    text-decoration: none;
    color: black;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: rgb(233, 59, 59);
    border-radius: 15px;
    line-height: 15px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.popup-panel h2
{
    text-align: center;
    margin: 10px 0px 20px;
}
.popup-panel
{
    margin: 10px 10px;
}
.popup-panel label
{
    font-size: 15px;
}
.popup-panel input[type="text"],
.popup-panel input[type="password"]
{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.popup-panel button
{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #eee;
    color:rgb(146, 146, 146);
    transition:
    background 0.3s,
    color 0.2s;
}

.popup-panel button:enabled
{
    color: var(--color-brown);
    cursor: pointer;
}
.popup-panel button:enabled:hover
{
    background-color: var(--color-blue);
    color: #fff;
}

.popup-panel button:enabled:active
{
    background-color: var(--color-dark-blue);
}

.popup-panel a
{
    display: block;
    text-align: center;
    font-weight: 100;
}
