section
{
  background: #064663;
  padding: 5%;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.btns {
  text-align: center;
  margin: 10px;
}

tbody {
  display: block;
  height: 410px;
  overflow: auto;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}

button
{
  padding: 5px 5px 5px 5px;
}




