

<div id="container">
  <h2>Ranglista</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Felhasználónév</th>
        <th scope="col">Pontok</th>
      </tr>
    </thead>
    <tbody id="scrollTable" (scroll)="scrollOffset($event)">
      <tr *ngFor = 'let data of readData'>
        <td>{{data.index}}</td>
        <td>{{data.felhasznalonev}}</td>
        <td>{{data.pont}}</td>
      </tr>
    </tbody>
  </table>
  <div class="btns">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button id="farkas" (click)="getIdOfBtn($event)" type="button" class="btn btn-secondary">Farkas</button>
      <button id="falusi" (click)="getIdOfBtn($event)" type="button" class="btn btn-secondary">Falusi</button>
      <button id="latnok" (click)="getIdOfBtn($event)" type="button" class="btn btn-secondary">Látnok</button>
      <button id="boszorkany" (click)="getIdOfBtn($event)" type="button" class="btn btn-secondary">Boszorkány</button>
      <button id="vedelmezo" (click)="getIdOfBtn($event)" type="button" class="btn btn-secondary">Védelmező</button>
    </div>
  </div>
</div>
