*
{
    padding:0;
}
main
{
    background-color: #064663;
    text-align: center;
    padding-top: 10px;
}
header
{
    display:flex;
    background-color: #041C32;
    text-align: center;
}
main ul
{
    list-style:none;
    /*display: table;*/
}
main ul li
{
    display: block;
    width:30%;
    /*display:flex;*/
    margin: 0 auto;
}
main a
{
    
    background:#04293A;
    color: #BA621F;
    display: block;
	padding: 15px 40px;
	transition: background 0.3s;
}
main a:hover
{
    background: #041C32;
	color: #8f4e1c;
}
main h2
{
    text-align: center;
}
.Inside
{
    margin:0 auto;
    width: 60%;

}


#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffff;
  box-shadow: 15px 15px 5px 5px #666;
  border-radius: 10px;
  width: 600px;
  height: auto;
}

h2 {
  text-align: center;
}

.btns {
  text-align: center;
  margin: 10px;
}

tbody {
  display: block;
  height: 410px;
  overflow: auto;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}

