<app-profile></app-profile>

<div id="container">

  <div id="close">
        <h2>Statisztika:</h2>
        <h3 id="name">farkas</h3>
        <a routerLink="/profile" class="close-btn">&times;</a>
    </div>


  <table class="table table-striped" id="role">
    <thead>
      <th>Dátum</th>
      <th>Pontszám</th>
    </thead>
    <tbody>
        <tr *ngFor='let data of readData'>
          <td>{{data.datum}}</td>
          <td>{{data.pont}}</td>
        </tr>
      </tbody>
    </table>


    <div class="btns">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button id="farkas" (click)="getIdOfBtn($event)" type="button" class="btn btn-dark">Farkas</button>
        <button id="falusi" (click)="getIdOfBtn($event)" type="button" class="btn btn-dark">Falusi</button>
        <button id="latnok" (click)="getIdOfBtn($event)" type="button" class="btn btn-dark">Látnok</button>
        <button id="boszorkany" (click)="getIdOfBtn($event)" type="button" class="btn btn-dark">Boszorkány</button>
        <button id="vedelmezo" (click)="getIdOfBtn($event)" type="button" class="btn btn-dark">Védelmező</button>
      </div>
    </div>

</div>
